.App {
  text-align: center;
}
.lottie-container {
  position: absolute;
  top:-10px;
  left: 50%;
  transform: translateX(-50%);
}
.App h1{
  position: absolute;
  top:250px;
  left: 50%;
  transform: translateX(-50%);
}
.App p{
 margin-top:330px;

}

